table {
	table-layout:fixed;
	margin:auto;
}
th, td {
	padding:5px 5px;
	overflow-wrap: break-word;
	width: 100px;
	text-align: center;
}
thead, tfoot {
	background:#f9f9f9;
	display:table;
	width:100%;
	width:calc(100% - 18px);
}
tbody {
	height:450px;
	overflow:auto;
	overflow-x:hidden;
	display:block;
	width:100%;
}
tbody tr {
	display:table;
	width:100%;
	table-layout:fixed;
}

tfoot {
	position: fixed;
	tr {
		text-align: center;
	}
}

.pagination {
	display: inline-block;
  }
  
  .pagination a {
	color: black;
	float: left;
	padding: 8px 16px;
	text-decoration: none;
  }
  
  .pagination a.active {
	background-color: #4CAF50;
	color: white;
  }
  
  .pagination a:hover:not(.active) {
	  background-color: #ddd;
	}