
<label for="pageLength">Select page size:</label>

<select name="pageLength" id="pageLength" [(ngModel)]="pageLength" (ngModelChange)="loadPageNumbers()">
  <option *ngFor="let length of ['10', '20', '30', 'All']">{{length}}</option>>
</select>

<br>

<label for="hidePagination">Hide Pagination?</label>
<input type="checkbox" id="hidePagination" name="hidePagination" [(ngModel)]="hidePagination"  (ngModelChange)="updatePagination()">


<table *ngIf="displayData">
  <thead>
    <tr>
      <th scope="col" *ngFor="let column of tableHeader">{{column}}</th>
    </tr>
  </thead>
  <tbody>

    <tr *ngFor="let data of displayData">
      <td>{{data.id}}</td>
      <td>{{data.phone}}</td>
      <td>{{data.email}}</td>
      <td>{{data.company}}</td>
      <td>{{data.date_entry  | date}}</td>
      <td>{{data.org_num}}</td>
      <td>{{data.address_1}}</td>
      <td>{{data.pan}}</td>
      <td>{{data.pin}}</td>
      <td>{{data.status}}</td>
      <td>{{data.fee}}</td>
      <td>{{data.guid}}</td>
      <td>{{data.date_exit  | date}}</td>
      <td>{{data.date_first  | date}}</td>
      <td>{{data.date_recent  | date}}</td>
      <td>{{data.url}}</td>
      <td><button (click)="postRecord(data.id, data.status)">Post</button></td>
    </tr>

  </tbody>
  <tfoot>
    <tr *ngIf="!hidePagination">
      <div class="pagination" *ngFor="let number of pageNumbers; let index = index; first as isFirst; last as isLast;">
        <a (click)="previousPage()" *ngIf="isFirst">&laquo;</a>
        
        <a (click)="selectPage(number)" [ngStyle]="{'background-color':number == selectedPage ? '#ddd' : '' }">{{number}}</a>
        
        <a (click)="nextPage()" *ngIf="isLast">&raquo;</a>
        </div>    </tr>
  </tfoot>
</table>
